﻿@model MyBook.Entity.Contact

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomePhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonalEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="addresses">
            @foreach (var item in Model.Addresses)
            {
                Html.RenderPartial("_AddressPartial", item);
            }
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="addAddressButton" type="button" value="Add Address" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="saveButton" type="button" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section jscripts{
    <script>
        $(function () {
            $('#addAddressButton').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Contact/GetAddressPartial",
                    dataType: "html",
                    success: function (response) {
                        $('#addresses').append(response);
                    }
                });
            });

            $('#addresses').on("click", "#removeAddressButton", function () {
                var addressBlock = $(this).parent().parent().parent();
                var id = $(addressBlock).find('input[type=hidden]').val();
                $(addressBlock).find('input[type=hidden]').val('-' + id);
                $(addressBlock).css('display', 'none');

                console.log($(addressBlock).html());
            });

            $('#saveButton').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Contact/Edit",
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    data: JSON.stringify({ contact: fillContactObject() }),
                    success: function (response) {
                        window.location.href = response;
                    }
                });
            });
        });

        function fillContactObject() {
            var contact = {};
            contact.id = $('#ID').val();
            contact.firstName = $('#FirstName').val();
            contact.lastName = $('#LastName').val();
            contact.mobilePhone = $('#MobilePhone').val();
            contact.homePhone = $('#HomePhone').val();
            contact.workPhone = $('#WorkPhone').val();
            contact.personalEmail = $('#PersonalEmail').val();
            contact.workEmail = $('#WorkEmail').val();
            contact.website = $('#Website').val();
            contact.birthDate = $('#BirthDate').val();

            var addresses = [];
            var addressesHtml = $('.address');

            addressesHtml.each(function myfunction(index) {
                var address = {};
                address.addressID = $(this).find('#AddressID').val();
                address.addressType = $(this).find('select').val();
                address.addressLine1 = $(this).find('#AddressLine1').val();
                address.addressLine2 = $(this).find('#AddressLine2').val();
                address.street = $(this).find('#Street').val();
                address.city = $(this).find('#City').val();
                address.country = $(this).find('#Country').val();
                address.zipCode = $(this).find('#ZipCode').val();

                addresses.push(address);
            })

            contact.addresses = addresses;

            return contact;
        };
    </script>
}